{% load staticfiles %}

<html>
	<head>
		<title> Ingredients info </title>
		<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
		<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
		<link href="https://fonts.googleapis.com/css?family=Raleway:200" rel="stylesheet">
		<link rel="stylesheet" href="{% static 'css/foodapp.css' %}">
	</head>	

	<body>

		<div>
			<h1>{{ ingredient.ingredient_name }}</h1>
			
			<h2> Preferences </h2>
				<p> Your preferences for this ingredient are : {{ingredient.user_preference}} </p>
				<p> Do you want to change them ? You can do it <a href="{% url 'foodapp:preferences_ingredient' 	ingredient.iid %}">here</a> </p>
			
			<h2> Nutrition </h2>
				<ul>
					<li> Calories per serving : {{ingredient.calories}} </li>
					<li> Fat per serving : {{ingredient.fat}}  </li>
					<li> Fiber per serving : {{ingredient.fiber}}  </li>
					<li> Sugar per serving : {{ingredient.sugar}}  </li>
					<li> Protein per serving : {{ingredient.protein}}  </li>
		</div>			
			
		
		<!-- <a href = {% url 'foodapp:index' %} > Back to homepage. </a> -->
		<div>
			<a href={% url 'foodapp:index' %} class="btn btn-default">Back to Homepage</a>
		</div>	
	</body>	
</html>	
		